* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wraper {
    max-width: 430px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    position: relative;
    margin: 0 auto;
    height: 100%;
}

.img-background-1 {
    background-image: url('./upload/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-attachment: scroll;
    background-origin: content-box;
    width: 100%;
    height: 1052.56px;
}

.img-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section-1 {
    height: 1052.56px;
    margin: 0 auto;
    position: relative;
}

#image-background-1 {
    width: 100%;
    height: 1052.56px;
    top: 0px;
    left: 0px;
}

.element {
    position: absolute;
}

#bnt-1{
    width: 199px;
    height: 69.2967px;
    top: 533.518px;
    left: 110px;
}
